* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: "Poppins";
    /* Remove default body margin */
}


h1 {
    margin-left: 10px;

}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}


.social-icon {
    width: 3em;
}



nav ul {
    overflow: hidden;
}

nav.show {
    grid-template-rows: 1fr;
}

.navbar {

    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    background: #19191c;
    color: #f9f9f9;
    font-family: "Poppins";
    box-sizing: border-box;
}

.navbar-overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

body.open .navbar-overlay {
    visibility: visible;
    opacity: 1;
}


.navbar-burger {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 64px;
    height: 64px;
    padding: 0;
}

.navbar-title {
    margin: 0;
    font-size: 16px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100% 0;
    width: 270px;
    height: 100%;
    padding: 20px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    background: #000000;
    visibility: hidden;
    transition: translate 0.3s;
}

body.open .navbar-menu {
    translate: 0 0;
    visibility: visible;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
}

.hero {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.hero img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.hero h3 {
    background-color: rgb(212, 207, 199);
    margin: 22em;
    margin-left: 2em;
    padding: 1em;
    width: fit-content;
    border-radius: 10px;

}


h3:hover {
    background-color: #1a1a1a;
}


.stats {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
}

.grid-view {
    display: flex;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
}


.box {
    background-color: hsl(0, 6%, 94%);
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    padding-top: 50px;

}

.box p {

    text-align: justify;
    padding: 10px;


}


.title {
    background-color: #1a1a1a;
    color: #f9f9f9;
    padding: 10px;
    margin: 0;
    width: calc(100% + 0.5em);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: none;
    z-index: 1;
}


button {
    border: 0;
    padding: 0;
    font-family: inherit;
    background: transparent;
    color: inherit;
    cursor: pointer;
}


footer {
    display: block;
    background-color: #1a1a1a;
    padding: 10px;
    font-family: "Poppins";

}

footer .socials {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1.5rem;
}

footer .contact {
    justify-items: left;
}

footer .myinformation {
    justify-items: left;
}

footer .socials a {
    margin: 0 0.5rem;
}

footer .socials a img {
    width: 44px;
    height: 44px;
    filter: grayscale(100%) brightness(100%) invert(100%);
    transition: transform 0.3s ease, filter 0.3s ease;
}

footer .socials a:hover img {
    filter: none;
    transform: scale(1.2);
}

footer p {
    font-size: 0.9rem;
    color: #ffffff;
}


.members-card {
    background-color: hsl(0, 6%, 94%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    padding: .5em;

}

.grid-view img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    /* Right, Down, Blur, Color */
    margin-top: 10px;

}


.grid-view {
    display: grid;
    gap: 1em;
    margin: .5em;
    text-align: center;
    padding: 5px;
}


@media only screen and (min-width: 600px) {

    .navbar-menu {
        position: static;
        translate: 0 0;
        width: auto;
        background: transparent;
        flex-direction: row;
        visibility: visible;
    }

    .navbar {
        justify-content: space-between;
        padding: 0 0 0 16px;
    }

    .navbar-overlay {
        display: none;
    }

    .navbar-burger {
        display: none;
    }

    .navbar-menu>button {
        color: rgba(255, 255, 255, 0.5);
        background: transparent;
        padding: 0 8px;
    }

    .navbar-menu>button.active {
        color: inherit;
    }


    footer {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        background-color: #1a1a1a;
        text-align: center;
        font-size: 0.9rem;
        color: #ffffff;
    }


    footer .contact {
        justify-items: left;
    }

    footer .myinformation {
        justify-items: left;
    }

}

@media (min-width: 768px) {


    .stats {
        grid-template-columns: 2fr 1fr 1fr;
    }

    .grid-view {
        grid-template-columns: 1fr 1fr 1fr;

    }


}




.spotlight-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    text-align: center;
    max-width: 350px;
    transition: transform 0.3s, box-shadow 0.3s;
}


.spotlight-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.spotlight-card h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #0000ee;
    margin-bottom: 10px;
}

.spotlight-card p {
    margin: 5px 0;
    font-size: 1em;
    color: #333;

}

.spotlight-card a {
    color: #0000ee;
    text-decoration: none;
    font-weight: bold;
}

.spotlight-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.spotlight-card h3:hover {
    background-color: inherit;
}

@media (min-width: 768px) {


    .member-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .stats {
        grid-template-columns: 2fr 1fr 1fr;
    }


}