@media only screen and (min-width: 38rem) {

    #allplaces div {
        display: grid;
        grid-template-areas:
            "photograph name"
            "photograph description"
            "photograph location";
    }

    #allplaces div img {
        width: 300px;

    }

}