/*------------------------- COLOR SCHEME--------------------------
terra cotta #E07A5F
deep slate blue  #3D405B
*/

/*------------------------- SITE WIDE --------------------------*/

* {
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}


/*------------------------- HEADER --------------------------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #1a1a1a;
    color: #ffffff;
}

.brand {
    display: flex;
    align-items: center;
}

header img {
    display: block;
    width: 50px;
    height: auto;
    padding: 5px;

}

header span {

    font-size: 1.2rem;
    color: #ffffff;
}


/*------------------------- HUMBURGER --------------------------*/
.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
    font-family: Verdana;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}


/*------------------------- NAVIGATION --------------------------*/
.navigation {
    background-color: #3a3838;
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 1px #ffffff;
}


.navigation li.current {
    background-color: #313030;

}

.navigation a:hover {
    background-color: rgb(98, 98, 100);
}

h1 {
    margin-left: 10px;
}


/*------------------------- MAIN --------------------------*/

/* Main */
main.main {

    padding: 1rem;
    flex-grow: 1;
}

.hero-text {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Section Styling */
section {
    margin-bottom: 2rem;
}

section h2 {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 0.5rem;
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
}

/* About Section */
.about-section {

    background-color: #f8f8f8;

}

.about-section .res-text {

    text-align: center;
}

/* Profile Section */
.profile-section {
    text-align: center;
    background-color: #f8f8f8;
}

.profile-section img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 0.5rem;
}

/* Course Section */

#webcert {
    text-align: center;
    background-color: #f8f8f8;
    margin-bottom: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
    border-radius: 5px;
}

#webcert h2 {
    margin: 0;
}


#course-buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 3em;
    font-size: 1.2rem;
}

#course-buttons button {
    padding: 1rem;
    font-size: 0.8em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#course-buttons button:hover {
    background-color: rgb(98, 98, 100);
}


#filter-buttons button {
    background-color: rgb(26, 25, 25);
    margin-top: 1rem;
    color: white;
    padding: 1em;
    width: 10em;
    gap: 10em;
    cursor: pointer;
    border-radius: 5px;

}

#filter-buttons button:hover {
    background-color: rgb(98, 98, 100);
}

#course-buttons .completed {
    background-color: rgb(26, 25, 25)
}

#course-buttons .not-completed {
    background-color: rgb(86, 88, 85);
}

#total-credits {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

/*------------------------- FOOTER --------------------------*/

footer {
    padding: 1rem 2rem;
    background-color: #1a1a1a;
    text-align: center;
    font-size: 0.9rem;
    color: #ffffff;
    margin-top: auto;
}

footer .socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 0.5rem;
}

footer .socials a {
    margin: 0 0.5rem;
}

footer .socials a img {
    width: 24px;
    height: 24px;
    filter: grayscale(100%) brightness(100%) invert(100%);
    transition: transform 0.3s ease, filter 0.3s ease;
}

footer .socials a:hover img {
    filter: none;
    transform: scale(1.2);
}

#lastModified {
    margin-top: 10px;
}


/*-------------- MODAL ------------------*/

dialog {

    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
}