.prophet-card {
    background-color: hsl(0, 69%, 76%);
    padding: 1em;
}

img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    /* Right, Down, Blur, Color */
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin: .5em;
    text-align: center;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
}