#banner {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    text-align: center;
    align-content: center;

}


.banner .content {
    max-width: 100%;
    text-align: center;
}

.content h2 {
    font-size: 5em;
    color: #fff;
}

#banner .content p {
    padding: 10px;
    font-size: 1em;
    margin: 55px;
    color: #fff;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.3);
}

.btn {
    font-size: 1em;
    color: #fff;
    background-color: #1a1a1a;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 10px;
}

.btn:hover {
    letter-spacing: 6px;
}





/*----------SECTION ABOUT---------*/

section {
    display: block;
    padding: 50px;
}


.titleText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.titleText span {
    color: #e40000;
    font-weight: 700;
    font-size: 1.5em;
}



.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.row1 {
    display: grid;
    grid-template-columns: auto 600px;
}

.row1 #banner {
    width: 100%;
    height: 100%;
}


.row {
    display: grid;
    grid-template-columns: auto 600px;
}

.row #banner {
    width: 100%;
    height: 100%;
}













.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 48%;
}

.row .col50 .imgBx {
    position: relative;
    width: 100%;
    /*min-height: 300px;*/
    height: 100%;
}

.row .col50 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

