/*------------------------- COLOR SCHEME--------------------------
terra cotta #E07A5F
deep slate blue  #3D405B
*/

/*------------------------- SITE WIDE --------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}


/*------------------------- HEADER --------------------------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a;
    color: #ffffff;

}

.brand {
    display: flex;
    align-items: center;
}

header img {
    display: block;
    width: 50px;
    height: auto;
    padding: 5px;

}

header span {

    font-size: 1.2rem;
    color: #ffffff;
}






header .logo {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2em;
    text-decoration: none;
}

header.sticky .logo {
    color: #111;
}

header .logo span {
    color: #e40000;
}

header .navigation {
    position: relative;
    display: flex;
}


/*------------------------- HUMBURGER --------------------------*/
.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
    font-family: Verdana;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}


/*------------------------- NAVIGATION --------------------------*/
header {
    display: block;
}

.logo {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.navigation {

    display: none;
}

.navigation.show {
    display: block;

    background-color: #2e2e2e;

}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 10px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 1px #ffffff;



}


.navigation li.current {
    background-color: rgb(98, 98, 100);


}

.navigation a:hover {

    background-color: rgb(98, 98, 100);


}

h1 {
    margin-left: 10px;
}


/*------------------------- MAIN --------------------------*/


/*------------------------- FOOTER --------------------------*/

footer {
    padding: 1rem 2rem;
    background-color: #1a1a1a;
    text-align: center;
    font-size: 0.9rem;
    color: #ffffff;
    margin-top: auto;
}

footer .socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

footer .socials a {
    margin: 0 0.5rem;
}

footer .socials a img {
    width: 35px;
    height: 35px;
    filter: grayscale(100%) brightness(100%) invert(100%);
    transition: transform 0.3s ease, filter 0.3s ease;
}

footer .socials a:hover img {
    filter: none;
    transform: scale(1.2);
}

.contact,
.myinformation {
    text-align: left;
}

#lastModified {
    margin-top: 10px;
}