form {
    max-width: 650px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;

}

form label {
    margin-top: 10px;
}

form input[type="text"],
form select,
form input[type="date"],

form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-top: 5px;
}

form input[type="radio"],
form input[type="checkbox"] {
    margin-right: 10px;
}

form .rating-container {
    display: flex;
    flex-direction: column;
}

form .rating-options {
    display: flex;
    margin-top: 5px;
}

form .rating-options label {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .rating-options label span {
    margin-right: 5px;
    margin-bottom: 5px;
}


#writtenReview {
    height: 200px;
}

form input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #888a87;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

form input[type="submit"]:hover {
    background-color: #000000;
}

.optional {
    font-style: italic;
    font-size: 15px;
    color: #8811be;
    font-weight: bold;
}

/* use reverse flexbox to take advantage of flex-direction: reverse */
.star-rating {
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;
}

/* hide the inputs */
.star-rating input {
    display: none;
}

/* set properties of all labels */
.star-rating>label {
    width: 30px;
    height: 30px;
    font-family: Arial;
    font-size: 30px;
    transition: 0.2s ease;
    color: blueviolet;
}

/* give label a hover state */
.star-rating label:hover {
    color: #ff69b4;
    transition: 0.2s ease;
}

.star-rating label:active::before {
    transform: scale(1.1);
}

/* set shape of unselected label */
.star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
}

/* set full star shape for checked label and those that come after it */
.star-rating input:checked~label:before {
    content: '\2605';
}

@-moz-document url-prefix() {
    .star-rating input:checked~label:before {
        font-size: 36px;
        line-height: 21px;
    }
}