:root {
    --carbongrey: hsl(210, 2%, 36%);
    --greycloud: hsl(0, 4%, 72%);
}

.form-container {
    max-width: 100%;
    margin: 1em auto;
    padding: 20px;
    border: 2px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #F4F1DE;
}

form {
    width: 100%;
    margin: 1rem 0;
}

form label {
    display: block;
    font-size: .8rem;
    color: black;
    padding-top: .2rem;
}

form h3 {
    font-size: .9rem;
    color: black;
    margin: 1.5rem 0 .2rem 0;
    border-bottom: 1px solid #eee;
}

form input[type="text"],
form input[type="tel"],
form input[type="date"],
form input[type="email"],
form select {
    display: block;
    margin: .1rem 0 1rem 0;
    padding: .3rem;
    border: 1px solid #999;
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color: var(--blue);
    font-size: 1rem;
    color: #3D405B;
    width: 100%;
}


form input[type=submit] {
    border: none;
    text-align: center;
    background-color: var(--carbongrey);
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #3D405B;
}

#results {
    background-color: #f4e2de;
    padding: 0 1rem;
    border: .25em solid var(--carbongrey);
    border-radius: 6px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.membership-levels {
    max-width: 100%;
    margin: 0 auto;
}

.membership-levels .card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #efe8e8;
}

.card a h3 {
    padding: .5em;
    border: .1em solid black;
    color: #000;
    background-color: var(--greycloud);
}

.card {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    background-color: #F4F1DE;
    max-width: 300px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(50px);
    animation: slideIn 1s ease-in-out forwards;
}

.card:nth-child(1) {
    animation-delay: 0s;
}

.card:nth-child(2) {
    animation-delay: 0.5s;
}

.card:nth-child(3) {
    animation-delay: 1s;
}

.card:nth-child(4) {
    animation-delay: 1.5s;
}



@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.text-content {
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.text-content .box1,
.text-content .box2,
.text-content .box3 {
    background-color: #F4F1DE;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-sizing: border-box;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #000;
}

.close-btn:hover {
    color: rgb(204, 161, 161);
}

@media (max-width: 767px) {
    .content-container {
        flex-direction: column;
    }

    .form-container,
    .membership-levels {
        max-width: 100%;
        margin: 10px 0;
    }
}


@media (min-width: 768px) {
    .content-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .form-container,
    .membership-levels {
        max-width: 45%;
    }

    .call {
        text-align: center;
        margin-bottom: 20px;
    }


}