@media only screen and (min-width: 38rem) {

  /*--------------- HOME PAGE -------------*/

  .stats {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
  }

  .grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: .5em;
    text-align: center;
    padding: 10px;
}

}