* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #d7d7da;
    min-height: 100%;
    margin: 0;
    font-family: "Poppins";
    /* Remove default body margin */
}



.members-card {
    background-color: hsl(0, 25%, 94%);
    padding: 1em;
}

.grid-view img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    /* Right, Down, Blur, Color */
    margin-top: 10px;
}


.grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: .5em;
    text-align: center;
    padding: 10px;
}

/* List view styles */
.list-view {
    display: flex;
    flex-direction: column;
}

.list-view .members-card {
    /* Item specific styles for list */
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#view-toggle {
    display: flex;

}

.allbtn {
    display: flex;
    justify-items: center;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #ffffff;
    margin-top: 10px;
}

.allbtn button {
    background-color: hsl(0, 2%, 51%);
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.list-view .members-card img {
    display: none;
}

.list-view .members-card #memberlevel {
    display: none;

}

@media (min-width: 320px) {
    .grid-view {
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
}